@font-face {
  font-family: "Inter-B";
  src: url("./fonts/static/Inter-Bold.ttf");
}

@font-face {
  font-family: "Inter-R";
  src: url("./fonts/static/Inter-Regular.ttf");
}

@font-face {
  font-family: "Inter-S";
  src: url("./fonts/static/Inter-SemiBold.ttf");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Inter-R", "Inter-S", "Inter-B", 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
